@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    .hero-section-bg {
        background: url("../assets/hero-section.jpg");
    }

    .our-mission-bg {
        background: url("../assets/our-mission.png");
    }

    .icon-setting {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .facebook-icon {
        background-image: url("../assets/facebook-gray.png");
    }

    .instagram-icon {
        background-image: url("../assets/instagram-gray.png");
    }

    .linkedin-icon {
        background-image: url("../assets/linkedin-gray.png");
    }
}