@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    .hero-section-bg {
        background: url("../assets/hero-section.webp");
        background-position: 65%;
        background-repeat: no-repeat;
    }

    @media (max-width: 768px) {
        .hero-section-bg {
            background-position: 53% 0%;
            background-size: 200%;
        }
    }

    @media (max-width: 418px) {
        .hero-section-bg {
            background-position: 53% 0%;
            background-size: 250%;
        }
    }

    .our-mission-bg {
        background: url("../assets/our-mission.webp");
    }

    .contact-us-bg {
        background: url("../assets/contact-us.webp");
    }

    .icon-setting {
        width: 40px;
        height: 40px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon-big {
        width: 50px;
        height: 50px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .facebook-icon {
        background-image: url("../assets/facebook-gray.png");
    }

    .instagram-icon {
        background-image: url("../assets/instagram-gray.png");
    }

    .linkedin-icon {
        background-image: url("../assets/linkedin-gray.png");
    }

    .right-arrow {
        background-image: url("../assets/chevron_right.svg");
    }

    .left-arrow {
        background-image: url("../assets/chevron_left.svg");
    }

    .hamburger {
        background-image: url("../assets/hamburger.svg");
    }


    p {
        @apply text-base sm:text-xl lg:text-2xl;
    }

    input, select, textarea{
        @apply px-4 py-2 rounded-md bg-transparent border border-green-600;
    }
}