@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: "Poppins", sans-serif;
    }

    html {
        scroll-behavior: smooth;
    }

    .hero-section-bg {
        background: url("../assets/hero-section.jpg");
    }
}