<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="robots" content="index, follow">
    <meta name="csrf-token" content="{{ csrfToken }}" />

    {% include './components/styles.twig' %}

  <title>
    {% block title %}
        {# title goes here | not add here | it add by another file #}
    {% endblock %} | Empowering Tomorrow
  </title>
</head>

<body>
    {% include './components/header.twig' %}
    
    {% block content %}
        {# Main content goes #}
    {% endblock %}

    {% include './components/footer.twig' %}

    {% block extra_scripts %}
      
    {% endblock %}

    {# Google Analytics Tag #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CTYH9LXZS4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CTYH9LXZS4');
    </script>
</body>

</html>