{% extends './layout.twig' %}

{% block title %}
    Volunteer with us
{% endblock %}

{% block content %}
    <div class="glide background-gradient bg-[url('/public/assets/Gradient.webp')] bg-cover bg-bottom">
        <div class="glide__track overflow-x-hidden" data-glide-el="track">
            <ul class="glide__slides w-full flex">
                <li class="glide__slide w-full h-screen select-none">1</li>
                <li class="glide__slide w-full h-screen">1</li>
                <li class="glide__slide w-full h-screen">1</li>
                <li class="glide__slide w-full h-screen">1</li>
            </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/@glidejs/glide@3.6.2/dist/glide.js"></script>
    <script src="/public/script/contact_us.js"></script>
    <script type="text/javascript">
        const glide1 = new Glide(".glide", {
            type: "slider",
            startAt: 0,
            perView: 1,
        });
       
        glide1.mount();
    </script>
{% endblock %}