<footer class="relative z-50">
    <div class="w-full bg-[#414141] p-4 md:p-8 lg:p-12">
        <div class="flex gap-4 items-start justify-between flex-col-reverse lg:flex-row">
            <div class="flex gap-16 flex-col lg:flex-row mx-auto lg:mx-0">
                <div class="flex flex-col gap-2 items-center md:items-start">
                    <strong class="text-xl text-white mb-4">Get to know us</strong>
                    <a href="/" class="text-xl text-white">About Us</a>
                    <a href="./whatwedo" class="text-xl text-white">What We Do</a>
                </div>
                <div class="flex flex-col gap-2 items-center md:items-start">
                    <strong class="text-xl text-white mb-4">Connect with us</strong>
                    <a href="./contact-us" class="text-xl text-white">Contact Us</a>
                </div>
            </div>
            <div class="mx-auto lg:mx-0">
                <div class="flex gap-4 flex-col md:flex-row">
                    {% include './components/donate_btn.twig' %}
                    {% include './components/volunteer_now_btn.twig' %}
                    
                </div>
                <div class="mt-4 text-center lg:text-right">
                    <a href="https://www.facebook.com/people/Empowering-Tomorrow/100083182405937/">
                        <span class="icon-setting facebook-icon"></span>
                    </a>
                    <a href="https://www.instagram.com/empowering_tomorrow/">
                        <span class="icon-setting instagram-icon"></span>
                    </a>
                    <a href="https://www.linkedin.com/company/empowering-tomorrow/">
                        <span class="icon-setting linkedin-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-8">
            <strong class="text-white text-xl font-medium">
                @ Empowering Tomorrow
            </strong>
        </div>
    </div>
</footer>

<script src="./public/script/base_script.js"></script>
<script src="./public/script/script_v1.js" defer></script>